<!--
  Generated template for the CreateProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sell Item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="slider-temp" *ngIf="loading" style="height: 183px; width: 100%; padding: 40px 0;">
    <g-loader></g-loader>
  </div>

  <div *ngIf="!loading">

    <ion-grid class="images-wrapper">
      <ion-row>
        <h2 *ngIf="images.length <= 0" style="margin: auto; margin-top: 40px;" text-center>Please select at least 1 and
          maximum of 3 images</h2>
        <ion-col col-6 *ngFor="let image of images; let id = index">
          <ion-card class="block image-placeholder">
            <ion-badge *ngIf="id == 0">Primary</ion-badge>
            <ion-badge *ngIf="id != 0">{{ id+1 }}</ion-badge>
            <button small ion-button icon-only class="deleteIcon" color="danger" (click)="deletePhoto(id, image)">
              <ion-icon name="trash"></ion-icon>
            </button>
            <button small ion-button icon-only class="prevIcon" color="light" (click)="prevImage(id)">
              <ion-icon name="arrow-round-back"></ion-icon>
            </button>
            <button small ion-button icon-only class="nextIcon" color="light" (click)="nextImage(id)">
              <ion-icon name="arrow-round-forward"></ion-icon>
            </button>
            <img [src]="pathForImage(image)" *ngIf="image" />
            <!-- <h5>{{ pathForImage(image) }}</h5> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row padding *ngIf="images.length < 3">

      <button ion-button block round icon-start color="dark" (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Choose Image
      </button>

      <!-- <button ion-button block round icon-start color="dark" (click)="editImage()">
        <ion-icon name="camera"></ion-icon>Crop Image
      </button> -->

    </ion-row>

    <ion-list>

      <form [formGroup]="formEdit">

        <ion-item mode="md">
          <ion-label stacked>
            <span dark>Brands</span>
          </ion-label>
          <ion-input dark type="text" formControlName="brand" placeholder="brands"></ion-input>
        </ion-item>

        <ion-item mode="md">
          <ion-label stacked>
            <span dark>Product Name*</span>
          </ion-label>
          <ion-input dark type="text" formControlName="name" placeholder="name" [(ngModel)]="product.name"></ion-input>
        </ion-item>

        <ion-item mode="md">
          <ion-label stacked>
            <span dark>Price (RM)*</span>
            <p dark>*must equal or more than discount selling price</p>
          </ion-label>
          <ion-input dark type="number" step="0.01" min="0" [formControl]="formEdit.controls['regular_price']"
            placeholder="price" [(ngModel)]="product.regular_price"></ion-input>
        </ion-item>

        <ion-item mode="md">
          <ion-label stacked>
            <span dark>Discount Selling Price (RM)</span>
            <p dark>*must equal or less than price</p>
          </ion-label>
          <ion-input dark type="number" step="0.01" min="0" [formControl]="formEdit.controls['sale_price']"
            placeholder="sale price" [(ngModel)]="product.price"></ion-input>
        </ion-item>

        <ion-item mode="md">
          <ion-label stacked>
            <span dark>Short Description</span>
          </ion-label>
          <ion-textarea dark type="text" formControlName="short_description" placeholder="short description">
          </ion-textarea>
        </ion-item>

        <ion-item mode="md">
          <ion-label stacked>
            <span dark>Categories*</span>
          </ion-label>
          <ion-input dark placeholder="Please Choose" (click)="modalCategory()" disabled *ngIf="!categoryName">
          </ion-input>
          <ion-input dark placeholder="Please Choose" (click)="modalCategory()" *ngIf="categoryName"
            [innerHTML]="categoryName"></ion-input>
        </ion-item>

        <div *ngFor="let attr of attributes.attributes">

          <ion-item mode="md" *ngIf="attr.slug == 'pa_colour' || attr.slug == 'pa_condition'">
            <ion-label stacked>
              <span dark [innerHTML]="attr.name" *ngIf="attr.slug == 'pa_colour'"></span>
              <span dark [innerHTML]="attr.name + '*'" *ngIf="attr.slug == 'pa_condition'"></span>
            </ion-label>
            <ion-select dark placeholder="Please Choose" formControlName="{{ attr.slug }}" interface="action-sheet">
              <ion-option *ngFor="let term of attr.term" [innerHTML]="term.name" [value]="term.name"></ion-option>
            </ion-select>
          </ion-item>

        </div>

        <ion-item-divider>Stock Management</ion-item-divider>

        <ion-item mode="md">
          <ion-label padding-left>Manage Stock?</ion-label>
          <ion-checkbox color="dark" checked="false" [(ngModel)]="product.manage_stock" formControlName="manage_stock">
          </ion-checkbox>
        </ion-item>

        <ion-item mode="md" *ngIf="product.manage_stock">
          <ion-label stacked>
            <span dark>Stock Quantity</span>
          </ion-label>
          <ion-input dark type="number" step="1" min="1" placeholder="quantity" [(ngModel)]="product.stock_quantity"
            formControlName="stock_quantity"></ion-input>
        </ion-item>

        <ion-item mode="md" *ngIf="product.manage_stock">
          <ion-label stacked>
            <span dark>Allow Backorders?</span>
          </ion-label>
          <ion-select dark interface="action-sheet" [(ngModel)]="product.backorders" formControlName="backorders">
            <ion-option value="no">Do not allow</ion-option>
            <ion-option value="notify">Allow, but notify customer</ion-option>
            <ion-option value="yes">Allow</ion-option>
          </ion-select>
        </ion-item>

        <ion-item mode="md">
          <ion-label padding-left>In stock</ion-label>
          <ion-checkbox color="dark" checked="true" [(ngModel)]="product.in_stock" formControlName="in_stock">
          </ion-checkbox>
        </ion-item>

        <ion-item mode="md">
          <ion-label padding-left>
            Sold Individually
            <p dark>*only allow one item to be bought in a single order</p>
          </ion-label>
          <ion-checkbox color="dark" checked="false" [(ngModel)]="product.sold_individually"
            formControlName="sold_individually"></ion-checkbox>
        </ion-item>

        <ion-input type="hidden" placeholder="Category ID" formControlName="category"></ion-input>

      </form>

    </ion-list>


  </div>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button full color="light" navPop>Cancel</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full [disabled]="formEdit.invalid || images.length <= 0" (click)="addProduct()">
          <span *ngIf="!product.id">Sell</span>
          <span *ngIf="product.id">Update</span>
        </button>
        <!-- <button ion-button full (click)="addProduct()">Add Product</button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
