page-myshop2 {

  ion-content {
    background-color: #efefef !important;
  }

  .slider-temp {
    height: 183px;
    width: 100%;
    padding: 40px 0;
  }

  .login-first {

    h2 {
      font-size: 18px;
      font-weight: bolder;
      margin-bottom: 12px;
    }

  }

}
