<!--
  Generated template for the Myshop2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <div *ngIf="userStatus == 'login' && !user.wcemailverified" style="background-color:#f53d3d; color: white;">
    <ion-row>
      <ion-col padding col-8>
        Please verify your email address
      </ion-col>
      <ion-col text-right col-4>
        <button ion-button color="light" clear class="link" (click)="resendVerification(user)">
          Resend email
        </button>
      </ion-col>
    </ion-row>
  </div>

  <ion-navbar>
    <ion-title>My Shop</ion-title>
    <!-- <ion-title>{{ userStatus }} - {{ shopStatus }}</ion-title> -->
  </ion-navbar>

  <div padding-right padding-left style="height: 42px; background-color: #fff;">
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)"
      *ngIf="shopStatus == 'registered' || shopStatus == 'suspended'">
      <ion-segment-button [disabled]="shopStatus != 'registered'" value="dashboard">
        Dashboard
      </ion-segment-button>
      <ion-segment-button [disabled]="shopStatus != 'registered'" value="product">
        Products
      </ion-segment-button>
      <ion-segment-button [disabled]="shopStatus != 'registered'" value="other">
        Others
      </ion-segment-button>
    </ion-segment>
  </div>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="slider-temp" *ngIf="shopStatus == 'loading'">
    <g-loader></g-loader>
  </div>

  <!-- if not login -->
  <ion-card *ngIf="userStatus != 'login'" class="login-first">

    <ion-card-content>

      <h2>
        Please login first to setup your shop
      </h2>

      <button ion-button icon-start block (click)="accountPage()">
        <ion-icon name="log-in" item-start></ion-icon>
        Login
      </button>
    </ion-card-content>

  </ion-card>

  <!-- if unregistered vendor -->
  <ion-card *ngIf="userStatus == 'login' && shopStatus == 'unregistered'">

    <ion-card-header>
      Sell Anything
    </ion-card-header>

    <ion-card-content *ngIf="user.wcemailverified">

      <button ion-button full icon-start (click)="registerPage('dashboard')">
        <ion-icon name="star"></ion-icon>
        Apply as vendor now!
      </button>

    </ion-card-content>

    <ion-card-content *ngIf="!user.wcemailverified">
      Please verify your email address before applying for vendor
    </ion-card-content>

  </ion-card>

  <!-- if pending vendor -->
  <ion-card *ngIf="userStatus == 'login' && shopStatus == 'pending'">

    <ion-card-content>

      <h3 text-center>Congratulations! <br>You have successfully applied as a Vendor. Please wait for further
        notifications from the admin.</h3>

      <button ion-item (click)="refreshPage()">
        <ion-icon name="refresh" item-start></ion-icon>
        Check Again
      </button>
    </ion-card-content>

  </ion-card>

  <!-- if vendor rejected-->
  <ion-card *ngIf="userStatus == 'login' && shopStatus == 'rejected'">

    <ion-card-content>

      <h3 text-center color="danger" padding-bottom>We have reviewed your application. Unfortunately, you are not the
        right fit with us at this time.</h3>

      <button ion-button color="danger" full icon-start (click)="registerPage('reapply')">
        Resubmit Application
      </button>
    </ion-card-content>

  </ion-card>

  <div [ngSwitch]="segment" *ngIf="shopStatus == 'registered' || shopStatus == 'suspended'">

    <div *ngSwitchCase="'dashboard'">

      <ion-grid>
        <ion-row>
          <ion-col>
            <h5 *ngIf="shopStatus == 'suspended'" style="color: #f53d3d;">
              Your account has been suspended by the admin due to some suspicious activity. Please contact your admin
              for further information.
            </h5>
            <h5>{{ shop.title }}</h5>
          </ion-col>
          <ion-col text-right *ngIf="shopStatus == 'registered'">
            <button ion-button icon-start small (click)="storeFrontPage()">
              <ion-icon name="create"></ion-icon>
              Update
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Shop -->
      <ion-list>
        <hide-show color="light" no-border>
          <span this-title>
            <b>Store Details</b>
          </span>

          <div this-content>

            <ion-list>

              <ion-item>
                <h2 padding-bottom>Store Name</h2>
                <h3>{{ shop.title }}</h3>
              </ion-item>

              <ion-item>
                <h2 padding-bottom>Store Description</h2>
                <h3>{{ shop.description }}</h3>
              </ion-item>

              <ion-item>
                <h2 padding-bottom>Message to Buyers</h2>
                <h3>{{ shop.message_to_buyers }}</h3>
              </ion-item>

              <ion-item>
                <h2 padding-bottom>Phone</h2>
                <h3>{{ shop.phone }}</h3>
              </ion-item>

              <ion-item>
                <h2 padding-bottom>Address</h2>
                <h3>{{ shop.address_1 }}</h3>
                <h3>{{ shop.address_2 }}</h3>
                <h3>{{ shop.postcode }}</h3>
                <h3>{{ shop.city }}</h3>
                <h3>{{ shop.state }}</h3>
              </ion-item>
            </ion-list>

          </div>
        </hide-show>
      </ion-list>

      <ion-card *ngIf="!shop.payment_mode || !shop.bank_account_number || !shop.bank_name || !shop.account_holder_name">

        <ion-card-content>
          <p>You need to update your billing account before you can request for withdrawal.</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col align-self-center text-right>
            <button ion-button icon-start small (click)="storeFrontPage()">
              <ion-icon name="create"></ion-icon>
              Update
            </button>
          </ion-col>
        </ion-row>

      </ion-card>

      <div *ngIf="shop.payment_mode && shop.bank_account_number && shop.bank_name && shop.account_holder_name">

        <ion-row class="item-order" padding-horizontal padding-top relative>
          <ion-col no-padding>
            <div class="order-id">
              <b dark>Withdrawable Balance</b>
            </div>
            <div>
              <h3 *ngIf="withdrawal.total_amount">RM {{ withdrawal.total_amount }}</h3>
              <h3 *ngIf="!withdrawal.total_amount">RM 0.00</h3>
            </div>
          </ion-col>
          <ion-col no-padding text-right>
            <button ion-button small (click)="vendorWithdrawalPage()">
              Withdrawal
            </button>
          </ion-col>
        </ion-row>

        <ion-list>
          <hide-show color="light" no-border>

            <span this-title>
              <b>Transactions</b>
            </span>

            <div this-content>

              <div class="slider-temp" *ngIf="!withdrawLoaded" style="height: 183px; width: 100%; padding: 40px 0;">
                <g-loader></g-loader>
              </div>

              <div *ngIf="withdrawal.transactions">

                <div *ngFor="let transaction of withdrawal.transactions" class="item-order" padding>

                  <ion-row no-padding>
                    <ion-col no-padding>
                      <div class="order-id">
                        <b dark>{{ transaction.transaction_date }}</b>
                      </div>
                    </ion-col>
                    <ion-col no-padding text-right>
                      <b dark>RM {{ transaction.total_amount }}</b>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col no-padding>
                      <h3 no-margin>#{{ transaction.id }}</h3>
                    </ion-col>
                  </ion-row>

                </div>

              </div>

            </div>

          </hide-show>
        </ion-list>

      </div>

      <ion-grid>
        <ion-row>
          <ion-col>
            <h5 style="margin-top:0;">Latest Pending Order <ion-badge color="danger" *ngIf="orders.length > 0">
                {{ orders.length }}</ion-badge>
            </h5>
          </ion-col>
          <ion-col text-right *ngIf="shopStatus == 'registered'">
            <button ion-button small (click)="vendorOrderPage()">
              View all order
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="slider-temp" *ngIf="!orderLoaded && shop" style="height: 183px; width: 100%; padding: 40px 0;">
        <g-loader></g-loader>
      </div>

      <ion-row *ngIf="orderLoaded && orders.length <= 0" class="item-order" padding relative>
        <ion-col no-padding>
          <div class="order-id" text-center>
            <b dark>No pending order</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let order of orders" class="item-order" [ngClass]="order.status" padding relative>
        <ion-col no-padding [navPush]="DetailOrderPage" [navParams]="{id:order.id, vendor: customer.id}">
          <div class="order-id">
            <b dark>{{'order.id'|translate}} - #{{order.id}}</b>
            <span class="order-status" *ngIf="order.status == 'processing'" light
              text-capitalize>{{'order.status.processing' |translate }}</span>
            <span class="order-status" *ngIf="order.status == 'on-hold'" light
              text-capitalize>{{'order.status.on_hold' |translate }}</span>
            <span class="order-status" *ngIf="order.status == 'cancelled'" light
              text-capitalize>{{'order.status.cancelled' |translate }}</span>
            <span class="order-status" *ngIf="order.status == 'completed'" light
              text-capitalize>{{'order.status.completed' |translate }}</span>
            <span class="order-status" *ngIf="order.status == 'pending'" light
              text-capitalize>{{'order.status.pending' |translate }}</span>
            <span class="order-status" *ngIf="order.status == 'refunded'" light
              text-capitalize>{{'order.status.refunded' |translate }}</span>
            <span class="order-status" *ngIf="order.status == 'failed'" light
              text-capitalize>{{'order.status.failed' |translate }}</span>

            <ion-badge color="success" *ngIf="order.shipped">Shipped</ion-badge>

          </div>
          <div>{{'order.date'|translate}} {{order.date_created + 'Z'|date:date_format}}</div>
          <div>
            <span>{{'order.quantity'|translate}} {{order.line_items.length}}</span>
            <span *ngIf="order.line_items.length <2">{{'order.item'|translate}}</span>
            <span *ngIf="order.line_items.length >1">{{'order.items'|translate}}</span>
          </div>
          <div>{{'order.total'|translate}} <span [innerHTML]="order.total"></span></div>
        </ion-col>
        <button absolute bottom ion-button clear color="gray" [navPush]="DetailOrderPage"
          [navParams]="{id:order.id, vendor: customer.id}" class="detail">
          <span border-dashed>{{'order.details'|translate}}</span>
        </button>
      </ion-row>

    </div>

    <div *ngSwitchCase="'product'">

      <div text-center style="background-color: #fff; padding: 10px 16px">
        <button block ion-button icon-start (click)="createProductPage()">
          <ion-icon name="pricetag"></ion-icon>
          Add Product
        </button>
      </div>

      <div class="slider-temp" *ngIf="!productLoaded && shop" style="height: 183px; width: 100%; padding: 40px 0;">
        <g-loader></g-loader>
      </div>

      <ion-list *ngIf="productLoaded && shop">
        <ion-item *ngIf="productLoaded && products.length <= 0">
          <h2>No product found</h2>
        </ion-item>
        <ion-item-sliding *ngFor="let product of products">

          <ion-item>
            <ion-thumbnail item-start>
              <img [src]="product.modernshop_images[0].modern_square">
            </ion-thumbnail>
            <h2>{{ product.name }}</h2>
            <h3 [innerHTML]="product.price_html"></h3>
            <h3 *ngIf="product.stock_quantity" [innerHTML]="'Quantity: ' + product.stock_quantity"></h3>
            <p>
              <ion-badge *ngFor="let cat of product.categories" [innerHTML]="cat.name"></ion-badge>
            </p>
            <!-- <button ion-button clear item-end [navPush]="BrowserPage" [navParams]="{username: customer.username ,task:'add-product/' + product.id}">Edit</button> -->
            <button ion-button clear item-end (click)="updateProduct(product)">Edit</button>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteProduct(product)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>

        </ion-item-sliding>
      </ion-list>

    </div>

    <div *ngSwitchCase="'other'">

      <ion-list>
        <button ion-item [navPush]="BrowserPage" [navParams]="{username: customer.username ,task:'vendor-report'}">
          Reports
        </button>
        <button ion-item [navPush]="BrowserPage"
          [navParams]="{username: customer.username ,task:'transaction-details'}">
          Payments History
        </button>
      </ion-list>

    </div>

  </div>

</ion-content>